<h1>{{ title }}</h1>

<!-- <div class="container"> -->
<form [formGroup]="userPorfile" id="txtbox">
<div class="filter">
<input type="text" placeholder="Search" formControlName="filter" (input)="filterUser()"/>
<button class="btn btn-primary">Search</button>
</div>
<br><br>

<div class="row" style="display: flex;">
  <div class="col-lg-4" style="flex: 1;">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input class="input-field" type="text" matInput formControlName="firstName" 
      placeholder="First Name*">
    </mat-form-field>  
    <div *ngIf="submitted && this.userPorfile.controls.firstName.value">Name is Required</div>
  </div>     

  <div class="col-lg-4" style="flex: 1;">
    <mat-form-field class="example-full-width">
      <mat-label>Nick Name</mat-label>
      <input class="input-field" type="text" matInput formControlName="lastName" 
      placeholder="Last Name">
    </mat-form-field>  
  </div>

  <div class="col-lg-4" style="flex: 1;">
    <mat-form-field class="example-full-width">
      <mat-label>Contact #</mat-label>
      <input class="input-field" type="text" matInput formControlName="phone" 
      placeholder="Phone #">
    </mat-form-field> 
    <div *ngIf="submitted && this.userPorfile.controls.phone.value">Phone # is Required</div>

  </div>
</div>
<div class="row" style="display: flex;">
  <div class="col-lg-4" style="flex: 1;">
<mat-form-field class="example-full-width">
  <mat-label>Email</mat-label>
  <input class="input-field" type="text" matInput formControlName="email" 
  placeholder="Email">
</mat-form-field> 
<div *ngIf="submitted && this.userPorfile.controls.email.value">Email is Required</div>

</div>
<br /><br />
<div class="col-lg-4" style="flex: 1;">
<mat-form-field class="example-full-width">
  <mat-label>Password</mat-label>
  <input class="input-field" type="password" matInput formControlName="password" 
  placeholder="Password">
</mat-form-field> 
<div *ngIf="submitted && this.userPorfile.controls.password.value">Password is Required</div>

</div>
<br /><br />
<div class="col-lg-4" style="flex: 1;">
<mat-form-field class="example-full-width">
  <mat-label>Confirm Password</mat-label>
  <input class="input-field" type="password" matInput formControlName="confirmPassword" 
  placeholder="Confirm Password">
</mat-form-field>
<div *ngIf="submitted && this.userPorfile.controls.confirmPassword.value">Confrim Password is Required</div>

</div>
</div>
<br /><br />

<button mat-button type="submit" (click)="onSubmit()">Submit</button>

</form>


<div
class="container my-5 row-100 justify-content-center text-align-center table table-bordered"
>
<table style="margin-left:auto;margin-right:auto; width: 75%; margin-top: 15px; justify-content: center;" class="table" border="1">
  <tr>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr *ngFor="let user of api.localData">
    <td>{{ user.id }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td> {{ user.email }}</td>
    <td> {{ user.phone }}</td>
    <td style="cursor: pointer;" class="text-center">
      <a
        class="btn btn-link btn-warning btn-just-icon edit"
        (click)="editUser(user.id)"
        ><i class="material-icons">edit</i></a
      >
    </td>
    <td style="cursor: pointer;" class="text-center">
      <a
        class="btn btn-link btn-warning btn-just-icon edit"
       (click)="delUser()"
        ><i class="material-icons">delete</i></a
      >
    </td>
  </tr>
</table>
</div>